html,
body,
#root {
  height: 100%;
  margin: 0;
}

.game-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #333333;
}

.nav-container {
  flex: 0 1 auto;
}

.content-container {
  flex: 1 1 auto;
}

.splitter-layout {
  position: relative;
}

.footer-container {
  flex: 0 1 auto;
}

.right-section-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.splitter-layout {
  height: 100%;
}

.splitter-layout .layout-pane {
  overflow: hidden;
}

.splitter-layout > .layout-splitter {
  width: 7px;
  background-color: #363636;
  height: 100%;
}

.splitter-layout .layout-splitter:hover {
  background-color: #494949;
}

.splitter-layout.layout-changing > .layout-splitter {
  background-color: #494949;
}

.ant-tabs {
  display: flex;
  height: 100%;
}

.ant-tabs-tab {
  font-family: "Open Sans", sans-serif !important;
}
.ant-tabs-bar {
  height: 100%;
  color: white;
}

.ant-tabs-content {
  height: 100%;
  width: 100% !important;
}

.ant-tabs-tabpane {
  height: 100%;
  width: 100%;
}
