.home-page {
  background-color: #ecf3fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.home-page nav {
  min-height: 100vh;
}

.home-page .module {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 60px;
}

.home-page .module .module-title {
  font-size: 27px;
  align-self: center;
  font-family: "Montserrat", sans-serif;
}
