.game-over-modal .ant-modal-content {
  background-color: #214775;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.game-over-modal .ant-modal-header {
  background-color: #214775;
  border-bottom: 0;
}

.game-over-modal .ant-modal-close {
  color: white;
}

.game-over-modal .ant-modal-header .ant-modal-title {
  font-family: Bebas Neue, cursive;
  font-size: 24px;
  color: white;
}

.game-over-modal .ant-modal-footer {
  border-top: 0;
}
